.container {
  padding: 20px;
}

.example-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
  mat-icon {
    margin-right: 10px;
  }
}

.mat-flat-button {
  width: 120px;
  margin: 5px;
}

